<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Home Meta Description">
    <meta name="keywords" content="Home Meta Keywords">
    <meta name="author" content="Desire Agency Template">
    <title>Home | Desire Agency Template</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/client/landing-1/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/client/landing-1/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/client/landing-1/favicon.ico">

    <link href="/client/landing-1/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="/client/landing-1/css/main-man.css">
    <link rel="stylesheet" href="/client/landing-1/css/custom.css">
</head>
<body>

<!-- header start -->
<%- include('../partials/header') %>
<!-- header End -->

<section class="gallery gallery-top">
    <div class="container container-md">
        <h2 class="h2 text-uppercase text-center"><b>Mais escolhidos</b> desse mês</h2>
        <div class="gallery-top-slider text-center">
            <div class="gallery-top-slider-innr">
                <div class="gallery-top-slider-item">
                    <a href="/client/landing-1/gallery/ellie-11/">
                        <span class="gallery-media gallery-media-topRated">
                            <img src="/client/landing-1/images/man-models/alora-griffiths-bW-BZekV2Dk-unsplash.jpg" loading="lazy" alt="Ellie">
                        </span>
                        <span class="d-block text-center text-uppercase gallery-top-slider-item-title">Ellie</span>
                    </a>
                </div>
                <div class="gallery-top-slider-item">
                    <a href="/client/landing-1/gallery/fiona-12/">
                        <span class="gallery-media gallery-media-topRated">
                            <img src="/client/landing-1/images/man-models/harsh-gupta-FIN24065hbA-unsplash.jpg" loading="lazy" alt="Fiona">
                        </span>
                        <span class="d-block text-center text-uppercase gallery-top-slider-item-title">Fiona</span>
                    </a>
                </div>
                <div class="gallery-top-slider-item">
                    <a href="/client/landing-1/gallery/becky-8/">
                        <span class="gallery-media gallery-media-topRated">
                            <img src="/client/landing-1/images/man-models/morgan-alley-OQCsYSs6q98-unsplash.jpg" loading="lazy" alt="Becky">
                        </span>
                        <span class="d-block text-center text-uppercase gallery-top-slider-item-title">Becky</span>
                    </a>
                </div>
                <div class="gallery-top-slider-item">
                    <a href="/client/landing-1/gallery/carla-9/">
                        <span class="gallery-media gallery-media-topRated">
                            <img src="/client/landing-1/images/man-models/norbert-buduczki-qYn2Z55Glds-unsplash.jpg" loading="lazy" alt="Carla">
                        </span>
                        <span class="d-block text-center text-uppercase gallery-top-slider-item-title">Carla</span>
                    </a>
                </div>
                <div class="gallery-top-slider-item">
                    <a href="/client/landing-1/gallery/dee-10/">
                        <span class="gallery-media gallery-media-topRated">
                            <img src="/client/landing-1/images/man-models/norbert-buduczki-yYUqkTt96iA-unsplash.jpg" loading="lazy" alt="Dee">
                        </span>
                        <span class="d-block text-center text-uppercase gallery-top-slider-item-title">Dee</span>
                    </a>
                </div>
            </div>
            <div id="slider-dots-gallery-top" class="slider-dots-box"></div>
            <a class="gallery-top-slider-btn text-uppercase btn btn-radius btn-border-main btn-bg-transparent btn-text-blod btn-text-main btn-text-spacing" href="/client/landing-1/gallery/">
                View All
            </a>
        </div>
    </div>
</section>

<section class="gallery gallery-featured">
    <div class="container container-md">
        <h2 class="text-center f700 text-uppercase h2">Premium</h2>
        <ul class="nav nav-tabs justify-content-md-center flex-nowrap" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Blonde</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Brunette</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Busty</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="curvy-tab" data-bs-toggle="tab" data-bs-target="#curvy" type="button" role="tab" aria-controls="curvy" aria-selected="false">Curvy</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <!-- First row with 3 large images -->
                <div class="row mt-4 pt-lg-3">
                    <div class="col-sm-6 col-lg-4 gallery-item">
                        <a href="/client/landing-1/gallery/dee-10/">
                            <span class="gallery-media">
                                <img src="/client/landing-1/images/man-models/alora-griffiths-bW-BZekV2Dk-unsplash.jpg" loading="lazy" alt="Dee">
                            </span>
                            <span class="gallery-intro border-bottom">
                                <span class="title">Dee</span>
                                <span class="price">£100 / £150</span>
                            </span>
                        </a>
                    </div>
                    <div class="col-sm-6 col-lg-4 gallery-item">
                        <a href="/client/landing-1/gallery/becky-8/">
                            <span class="gallery-media">
                                <img src="/client/landing-1/images/man-models/harsh-gupta-FIN24065hbA-unsplash.jpg" loading="lazy" alt="Becky">
                            </span>
                            <span class="gallery-intro border-bottom">
                                <span class="title">Becky</span>
                                <span class="price">£100 / £150</span>
                            </span>
                        </a>
                    </div>
                    <div class="col-sm-6 col-lg-4 gallery-item">
                        <a href="/client/landing-1/gallery/fiona-12/">
                            <span class="gallery-media">
                                <img src="/client/landing-1/images/man-models/morgan-alley-OQCsYSs6q98-unsplash.jpg" loading="lazy" alt="Fiona">
                            </span>
                            <span class="gallery-intro border-bottom">
                                <span class="title">Fiona</span>
                                <span class="price">£100 / £150</span>
                            </span>
                        </a>
                    </div>
                </div>
                <!-- Second row with 4 smaller images -->
                <div class="row mt-4 pt-lg-3">
                    <div class="col-6 col-md-3 gallery-item">
                        <a href="/client/landing-1/gallery/anna-1/">
                            <span class="gallery-media">
                                <img src="/client/landing-1/images/man-models/norbert-buduczki-qYn2Z55Glds-unsplash.jpg" loading="lazy" alt="Anna">
                            </span>
                            <span class="gallery-intro border-bottom">
                                <span class="title">Anna</span>
                                <span class="price">£80 / £120</span>
                            </span>
                        </a>
                    </div>
                    <div class="col-6 col-md-3 gallery-item">
                        <a href="/client/landing-1/gallery/lily-2/">
                            <span class="gallery-media">
                                <img src="/client/landing-1/images/man-models/norbert-buduczki-yYUqkTt96iA-unsplash.jpg" loading="lazy" alt="Lily">
                            </span>
                            <span class="gallery-intro border-bottom">
                                <span class="title">Lily</span>
                                <span class="price">£90 / £130</span>
                            </span>
                        </a>
                    </div>
                    <div class="col-6 col-md-3 gallery-item">
                        <a href="/client/landing-1/gallery/rose-3/">
                            <span class="gallery-media">
                                <img src="/client/landing-1/images/man-models/sharon-christina-rorvik-JiSjwGZ-1nA-unsplash.jpg" loading="lazy" alt="Rose">
                            </span>
                            <span class="gallery-intro border-bottom">
                                <span class="title">Rose</span>
                                <span class="price">£100 / £140</span>
                            </span>
                        </a>
                    </div>
                    <div class="col-6 col-md-3 gallery-item">
                        <a href="/client/landing-1/gallery/daisy-4/">
                            <span class="gallery-media">
                                <img src="/client/landing-1/images/man-models/sharon-christina-rorvik-JiSjwGZ-1nA-unsplash.jpg" loading="lazy" alt="Daisy">
                            </span>
                            <span class="gallery-intro border-bottom">
                                <span class="title">Daisy</span>
                                <span class="price">£110 / £150</span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="text-center">
                    <a class="text-uppercase btn btn-radius btn-bg-min btn-text-blod btn-text-light btn-text-spacing btn-gallery" href="/client/landing-1/category/blonde/">
                        View All
                    </a>
                </div>
            </div>
            <!-- Repeat the same structure for the other tabs: Brunette, Busty, Curvy -->
        </div>
    </div>
</section>

<!-- footer start -->
<%- include('../partials/footer') %>
<!-- footer End -->

<script type="text/javascript">WebFontConfig = {
    google: {
        families: [
            "Comfortaa:300,400,500,600,700",
            "Alex+Brush:400",
            "&display=swap",
        ],
    },
};

(function() {
    var wf = document.createElement("script");
    wf.src = "https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js";
    wf.type = "text/javascript";
    wf.async = "true";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(wf, s);
})();
</script>


<script src="/client/landing-1/js/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="/client/landing-1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script defer="" src="/client/landing-1/js/slick.min.js"></script>
<script defer="" src="/client/landing-1/js/app.js"></script>
<script defer="" src="/client/landing-1/js/init.min.js"></script>
<script defer="" src="/client/landing-1/js/filter.js"></script>


</body>
</html>
